* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-height: 100dvh;
	background-color: #000;
	color: red;

	#content {
		color: blue;
	}
}

#machine {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: transparent;
	width: 500px;
	height: 600px;
	margin: 150px;
	padding-top: 20px;
}

#title {
	background-color: brown;
	color: yellow;
	width: 450px;
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
}

#sides {
	background: pink;
	background-clip: padding-box;
	border-top: 30px solid rosybrown;
	border-bottom: 50px solid rosybrown;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width: 450px;
	height: 350px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

#screen {
	background-color: brown;
	--verti: palevioletred;
	--hori: aquamarine;
	border-top: 8px solid var(--hori);
	border-bottom: 8px solid var(--hori);
	border-left: 8px solid var(--verti);
	border-right: 8px solid var(--verti);
	width: 400px;
	height: 200px;
	box-shadow: inset 0 0px 40px black;

	display: flex;
	justify-content: center;
	align-items: center;
}

#console {
	background-color: brown;
	width: 450px;
	height: 150px;
}

#bottom {
	background-color: turquoise;
	background-clip: padding-box;
	border-top: 8px solid azure;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 450px;
	height: 100%;
}
