* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-height: 100dvh;
	height: 100dvh;
}

#content {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "RocketClouds";
	src: url('fonts/rocket-clouds-demo.regular.ttf'), format("tff");
	font-weight: normal;
}

@font-face {
	font-family: "PixeloidMono";
	src: url('fonts/pixeloid.mono.ttf'), format("tff");
	font-weight: normal;
}

@font-face {
	font-family: "PixeloidSans";
	src: url('fonts/pixeloid.sans.ttf'), format("tff");
	font-weight: normal;
}

@font-face {
	font-family: "PixeloidSansBold";
	src: url('fonts/pixeloid.sans-bold.ttf'), format("tff");
	font-weight: normal;
}
