* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--neon-pink: magenta;
	min-height: 100vh;
	max-height: 100dvh;
	background-color: #000;
	color: red;
}

#content {
	color: var(--neon-pink);
	display: flex;
	align-items: center;
	justify-content: center;
}

#machine {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background: transparent;
	width: 500px;
	height: 600px;
	padding-top: 20px;
}

#title {
	cursor: default;
	background-color: rgb(57, 34, 109);
	color: rgb(252, 245, 255);
	font-family: "RocketClouds";
	font-size: small;
	text-shadow: 0 0 15px var(--neon-pink), 0 0 15px var(--neon-pink);
	width: 300px;
	height: 200px;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title::after {
	content: "";
	position: absolute;
	background-color: var(--neon-pink);
	top: -4%;
	left: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 25px var(--neon-pink), 0 0 20px var(--neon-pink),
		0 0 20px var(--neon-pink), inset 0 0 20px var(--neon-pink),
		0 5px 50px var(--neon-pink), 0 -5px 50px var(--neon-pink);}

#title::before {
	content: "";
	position: absolute;
	background-color: var(--neon-pink);
	top: -4%;
	right: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 25px var(--neon-pink), 0 0 20px var(--neon-pink),
		0 0 20px var(--neon-pink), inset 0 0 20px var(--neon-pink),
		0 5px 50px var(--neon-pink), 0 -5px 50px var(--neon-pink);}

#sides {
	background: #39226d;
	background-clip: padding-box;
	border-top: 30px solid rgb(46, 27, 87);
	border-bottom: 50px solid rgb(46, 27, 87);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width:300px;
	height: 345px;

	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#sides::after {
	content: "";
	background: var(--neon-pink);
	background-clip: padding-box;
	position: absolute;
	top: -30px;
	border-top: 30px solid var(--neon-pink);
	border-bottom: 50px solid var(--neon-pink);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width: 102%;
	height: 100%;
	filter: drop-shadow(0 0 15px var(--neon-pink));
	z-index: -1;
}

#sides #enter {
	position: absolute;
	cursor: grab;
	background-color: springgreen;
	background-clip: padding-box;
	bottom: -20px;
	right: 30px;

	width: 40px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
	overflow: hidden;
}

#enter::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -1%;
	left: 0;

	box-shadow: inset 0 0 1px 0 black;
	border-radius: 50%;
	border: 1px solid limegreen;
	width: 100%;
	height: 60%;
}


#enter::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -1%;
	left: 0;
	border-radius: 50%;
	background:
	linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 60%
	), linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		260deg,
		rgba(255, 0, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0.5;
}

#sides #retry {
	position: absolute;
	cursor: grab;
	background-color: red;
	background-clip: padding-box;
	bottom: -35px;
	right: 60px;

	width: 35px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
}


#retry::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -1%;
	left: 0;

	box-shadow: inset 0 0 1px 0 black;
	border-radius: 50%;
	border: 1px solid red;
	width: 100%;
	height: 60%;
}

#retry::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -1%;
	left: 0;
	border-radius: 50%;
	background:
	linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 60%
	), linear-gradient(
		120deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		260deg,
		rgba(255, 0, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0.5;
}

#sides #up {
	position: absolute;
	cursor: grab;
	background-color: yellow;
	background-clip: padding-box;
	bottom: -15px;
	left: 50px;

	width: 30px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
}

#up::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -1%;
	left: 0;

	box-shadow: inset 0 0 1px 0 black;
	border-radius: 50%;
	border: 1px solid yellow;
	width: 100%;
	height: 60%;
}

#up::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -1%;
	left: 0;
	border-radius: 50%;
	background:
	linear-gradient(
	180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 60%
	), linear-gradient(
		225deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 60%
	), linear-gradient(
		90deg,
		rgba(255, 0, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0.5;
}

#sides #down {
	position: absolute;
	cursor: grab;
	background-color: chocolate;
	background-clip: padding-box;
	bottom: -35px;
	left: 50px;

	width: 30px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
}

#down::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -1%;
	left: 0;

	box-shadow: inset 0 0 1px 0 black;
	border-radius: 50%;
	border: 1px solid chocolate;
	width: 100%;
	height: 60%;
}

#down::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -1%;
	left: 0;
	border-radius: 50%;
	background:
	linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		190deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		20deg,
		rgba(255, 0, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0.5;
}

#sides #left {
	position: absolute;
	cursor: grab;
	background-color: cyan;
	background-clip: padding-box;
	bottom: -25px;
	left: 25px;

	width: 30px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
}

#left::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -1%;
	left: 0;

	box-shadow: inset 0 0 1px 0 black;
	border-radius: 50%;
	border: 1px solid cyan;
	width: 100%;
	height: 60%;
}

#left::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -1%;
	left: 0;
	border-radius: 50%;
	background:
	linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 30%
	), linear-gradient(
		190deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		20deg,
		rgba(255, 80, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0.5;
}

#sides #right {
	position: absolute;
	cursor: grab;
	background-color: var(--neon-pink);
	background-clip: padding-box;
	bottom: -25px;
	left: 75px;

	width: 30px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
}

#right::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -1%;
	left: 0;

	box-shadow: inset 0 0 1px 0 black;
	border-radius: 50%;
	border: 1px solid var(--neon-pink);
	width: 100%;
	height: 60%;
}

#right::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -1%;
	left: 0;
	border-radius: 50%;
	background:
	linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		190deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 40%
	), linear-gradient(
		20deg,
		rgba(255, 80, 255, 0.8) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0.5;
}

#dynamicScreen {
	background-image:
	/* --- Grid --- */
	linear-gradient(to right, rgba(0, 255, 255, 0.1) 0%, transparent 5%),
	linear-gradient(to bottom, rgba(0, 255, 255, 0.1) 0%, transparent 5%),
	/* --- Stars --- */
	radial-gradient(circle at 10% 20%, red 0.5px, transparent 1px),
	radial-gradient(circle at 50% 30%, yellow 0.5px, transparent 1px),
	radial-gradient(circle at 30% 60%, rgb(188, 80, 255) 0.5px, transparent 1px),
	radial-gradient(circle at 70% 80%, white 0.5px, transparent 1px);
	background-size:
		20px 20px,
		20px 20px,
		100px 100px,
		100px 100px,
		100px 100px,
		100px 100px;
	background-color: #0f1535;
	--hori: mediumpurple;
	--verti: rgb(46, 27, 87);
	border-top: 8px solid var(--hori);
	border-bottom: 8px solid var(--hori);
	border-left: 8px solid var(--verti);
	border-right: 8px solid var(--verti);
	width: 250px;
	height: 200px;
	box-shadow: inset 0 0px 40px black;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.field {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	font-family: "PixeloidSansBold";
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
	color: coral;
	text-shadow:
		1px 1px 0 #c00,
		2px 2px 0 #900,
		3px 3px 0 #600;
}

.field h2 {
	padding: .2em;
}

.field p {
	opacity: 0;
	animation: flicker 1.5s infinite alternate;
}
@keyframes flicker { to { opacity: 1; } }

.field input {
	background-color: transparent;
	border: 0;
	caret-color: coral;
}

.field input::placeholder {
	font-family: "PixeloidSansBold";
	color: coral;
}

/* .field label {
	align-self: flex-start;
	width: 100%;
} */

.field.active {
	opacity: 1;
	pointer-events: all;
}

#console {
	background-color: rgb(57, 34, 109);
	width: 300px;
	height: 150px;
	position: relative;
}

#console::after {
	content: "";
	position: absolute;
	background-color: var(--neon-pink);
	top: -4%;
	right: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 30px var(--neon-pink), 0 0 30px var(--neon-pink),
		0 0 20px var(--neon-pink), inset 0 0 20px var(--neon-pink),
		0 5px 50px var(--neon-pink), 0 -5px 50px var(--neon-pink);
}

#console::before {
	content: "";
	position: absolute;
	background-color: var(--neon-pink);
	top: -4%;
	left: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 25px var(--neon-pink), 0 0 20px var(--neon-pink),
		0 0 20px var(--neon-pink), inset 0 0 20px var(--neon-pink),
		0 5px 50px var(--neon-pink), 0 -5px 50px var(--neon-pink);
}

#bottom {
	background-color: rgb(57, 34, 109);
	background-clip: padding-box;
	border-top: 8px solid rgb(46, 27, 87);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 300px;
	height: 500px;
	position: relative;
}

#bottom::before {
	content: "";
	position: absolute;
	background-color: var(--neon-pink);
	background-clip: padding-box;
	border-top: 8px solid var(--neon-pink);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	top: -8px;
	left: -10px;
	mask-image:
	linear-gradient(
		to right,
		black 0%,
		transparent 5%,
		transparent 95%,
		black 100%
	);
	width: 102%;
	height: 100%;
	pointer-events: none;
}

@font-face {
	font-family: "RocketClouds";
	src: url('fonts/rocket-clouds-demo.regular.ttf'), format("tff");
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: "PixeloidMono";
	src: url('fonts/pixeloid.mono.ttf'), format("tff");
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: "PixeloidSans";
	src: url('fonts/pixeloid.sans.ttf'), format("tff");
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: "PixeloidSansBold";
	src: url('fonts/pixeloid.sans-bold.ttf'), format("tff");
	font-weight: normal;
	font-size: normal;
}
