* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-height: 100dvh;
	background-color: #000;
	color: red;
}

#content {
	color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}

#machine {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background: transparent;
	width: 500px;
	height: 600px;
	padding-top: 20px;
}

#title {
	background-color: rgb(57, 34, 109);
	color: rgb(252, 245, 255);
	font-family: "RocketClouds";
	font-size: small;
	text-shadow: 0 0 15px magenta, 0 0 15px magenta;
	width: 300px;
	height: 200px;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title::after {
	content: "";
	position: absolute;
	background-color: magenta;
	top: -4%;
	left: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 25px magenta, 0 0 20px magenta,
		0 0 20px magenta, inset 0 0 20px magenta,
		0 5px 50px magenta, 0 -5px 50px magenta;}

#title::before {
	content: "";
	position: absolute;
	background-color: magenta;
	top: -4%;
	right: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 25px magenta, 0 0 20px magenta,
		0 0 20px magenta, inset 0 0 20px magenta,
		0 5px 50px magenta, 0 -5px 50px magenta;}

#sides {
	background: rgb(57, 34, 109);
	background-clip: padding-box;
	border-top: 30px solid rgb(46, 27, 87);
	border-bottom: 50px solid rgb(46, 27, 87);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width:300px;
	height: 350px;

	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

#sides::after {
	content: "";
	background: magenta;
	background-clip: padding-box;
	position: absolute;
	top: -30px;
	border-top: 30px solid magenta;
	border-bottom: 50px solid magenta;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width: 102%;
	height: 100%;
	filter: drop-shadow(0 0 15px magenta);
	z-index: -1;
}

#sides button {
	position: absolute;
	background-color: cyan;
	background-clip: padding-box;
	bottom: -30px;
	left: 40;

	width: 30px;
	height: 20px;
	border-radius: 50% 50% / 30% 30%;
	border: 0;
	z-index: 1;
}

#screen {
	background-color: rgb(57, 34, 109);
	--hori: rgb(57, 34, 109);
	--verti: rgb(46, 27, 87);
	border-top: 8px solid var(--hori);
	border-bottom: 8px solid var(--hori);
	border-left: 8px solid var(--verti);
	border-right: 8px solid var(--verti);
	width: 250px;
	height: 200px;
	box-shadow: inset 0 0px 40px black;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#console {
	background-color: rgb(57, 34, 109);
	width: 300px;
	height: 150px;
	position: relative;
}

#console::after {
	content: "";
	position: absolute;
	background-color: magenta;
	top: -4%;
	right: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 30px magenta, 0 0 30px magenta,
		0 0 20px magenta, inset 0 0 20px magenta,
		0 5px 50px magenta, 0 -5px 50px magenta;
}

#console::before {
	content: "";
	position: absolute;
	background-color: magenta;
	top: -4%;
	left: -1%;
	width: 1%;
	height: 108%;

	border-radius: 50% / 4%;
	box-shadow:
		0 0px 25px magenta, 0 0 20px magenta,
		0 0 20px magenta, inset 0 0 20px magenta,
		0 5px 50px magenta, 0 -5px 50px magenta;
}

#bottom {
	background-color: rgb(57, 34, 109);
	background-clip: padding-box;
	border-top: 8px solid rgb(46, 27, 87);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 300px;
	height: 500px;
	position: relative;
}

/* #bottom::before {
	content: "";
	position: absolute;
	background-color: magenta;
	background-clip: padding-box;
	border-top: 8px solid magenta;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	top: -8px;
	left: -10px;
	mask-image:
	linear-gradient(
		to right,
		black 0%,
		transparent 5%,
		transparent 95%,
		black 100%
	);
	width: 102%;
	height: 100%;
	pointer-events: none;
} */

@font-face {
	font-family: "RocketClouds";
	src: url('fonts/rocket-clouds-demo.regular.ttf'), format("tff");
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: "UTLigtsInn";
	src: url('fonts/ut-ligths-inn-demo.regular.otf'), format("otf");
	font-weight: normal;
	font-size: normal;
}
