# ============================================================================
# JWT Configuration
# ============================================================================
JWT_SECRET= your_super_secret_key

# ============================================================================
# Email Configuration
# ============================================================================
EMAIL_SERVICE= # gmail, yahoo, yandex etc.
EMAIL_USER= # email adress 
EMAIL_PASS= # application password
EMAIL_FROM= # email adress

# ============================================================================
# Host Configuration
# ============================================================================
HOST_IP=localhost # Or Your Host IP
NGINX_PORT=3030
