notes.md
server/node_modules
.nf*
./backend/aiServer/__pycache__/*
backend/aiServer/__pycache__/ai_player.cpython-311.pyc
node_modules
backend/gameClient/dist/
frontend/dist/
backend/profile/database/*
*/database/*
backend/profile/database
backend/friend/database
backend/friend/database/*
backend/authentication/database
backend/authentication/database/*
