networks:
  transcendency:
    driver: bridge

volumes:
  frontend_src:
    driver: local
    driver_opts:
      type: none
      device: ./frontend
      o: bind
  gateway_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/gateway
      o: bind
  authentication_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/authentication
      o: bind
  email_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/email
      o: bind
  user_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/users
      o: bind

services:
  frontend:
    container_name: frontend
    build: ./frontend
    restart: on-failure
    volumes:
      - frontend_src:/app
      - /app/node_modules
    networks:
      - transcendency
    expose:
      - 3003
    depends_on:
      - nginx

  nginx:
    container_name: nginx
    build: ./backend/nginx
    restart: on-failure
    volumes:
      - frontend_src:/usr/share/nginx/html
    networks:
      - transcendency
    ports:
      - 8080:8080
    depends_on:
      - gateway

  authentication:
    container_name: authentication
    build: ./backend/authentication
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3001
    volumes:
      - authentication_src:/app
      - /app/node_modules

  gateway:
    container_name: gateway
    build: ./backend/gateway
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3000
    volumes:
      - gateway_src:/app
      - /app/node_modules

  email:
    container_name: email
    build: ./backend/email
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3005
    volumes:
      - email_src:/app
      - /app/node_modules
    environment:
      - EMAIL_SERVICE=gmail
      - EMAIL_USER=forty2transcendence@gmail.com
      - EMAIL_PASS=gfyk pfqi gvpm ahtx
      - EMAIL_PORT=3005
      - HOST=0.0.0.0

  #gameserver:
  #  container_name: gameserver
  #  build: ./gameserver
  #  restart: on-failure
  #  networks:
  #    - transcendency
  #  expose:
  #    - 3004

  user:
    container_name: user
    build: ./backend/users
    restart: on-failure
    expose:
      - 3006
    volumes:
      - user_src:/app
      - /app/node_modules
    networks:
      - transcendency

  # livechat:
  #   container_name: livechat
  #   build: ./livechat
  #   restart: on-failure
  #   networks:
  #     - transcendency


