services:
  node:
    container_name: node_service
    build:
      context: ./backend/server
    ports:
      - "3000:3000"
    volumes:
      - ./backend/server/data:/app/data
      - frontend-volume:/app/frontend
    restart: unless-stopped

# BETUL: Need bind mount to see frontend changes immediately!
# BETUL: Frontend değişikliklerini anında görmek için bind mount gerekli!
volumes:
  frontend-volume:
    name: "frontend-volume"
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "./frontend"
