services:
  node:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: game-server
    container_name: game-server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
