networks:
  transcendency:
    driver: bridge

volumes:
  frontend_src:
    external: false
  gateway_src:
    external: false
  authentication_src:
    external: false
  email_src:
    external: false
  profile_src:
    external: false
  aiServer_src:
    external: false
  gameClient_src:
    external: false
  gameServer:
    external: false
  room_src:
    external: false
  friend_src:
    external: false
  static_src:
    external: false

services:
  frontend:
    container_name: frontend
    build: ./frontend
    restart: on-failure
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - transcendency
    expose:
      - 3003
    depends_on:
      - nginx
  nginx:
    container_name: nginx
    build: ./backend/nginx
    restart: on-failure
    volumes:
      - ./frontend:/usr/share/nginx/html
    networks:
      - transcendency
    ports:
      - 3030:3030
    depends_on:
      - gateway

  authentication:
    container_name: authentication
    build: ./backend/authentication
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3001
    volumes:
      - ./backend/authentication:/app
      - /app/node_modules
    environment:
      - HOST_IP=${HOST_IP}

  gateway:
    container_name: gateway
    build: ./backend/gateway
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3000
    volumes:
      - ./backend/gateway:/app
      - /app/node_modules

  email:
    container_name: email
    build: ./backend/email
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3005
    volumes:
      - ./backend/email:/app
      - /app/node_modules
    environment:
      - EMAIL_SERVICE=gmail
      - EMAIL_profile=forty2transcendence@gmail.com
      - EMAIL_PASS=gfyk pfqi gvpm ahtx
      - EMAIL_PORT=3005
      - HOST=0.0.0.0

  gameserver:
    container_name: gameserver
    build: ./backend/gameServer
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3002
    ports:
      - "3002:3002"
    volumes:
      - ./backend/gameServer:/app
      - /app/node_modules
    depends_on:
      - room
      - aiserver

  room:
    container_name: room
    build: ./backend/room
    restart: on-failure
    expose:
      - 3004
    ports:
      - "3004:3004"
    volumes:
      - ./backend/room:/app
      - /app/node_modules
    networks:
      - transcendency
    depends_on:
      - aiserver

  profile:
    container_name: profile
    build: ./backend/profile
    restart: on-failure
    expose:
      - 3006
    volumes:
      - ./backend/profile:/app
      - /app/node_modules
    networks:
      - transcendency

  friend:
    container_name: friend
    build: ./backend/friend
    restart: on-failure
    expose:
      - 3007
    volumes:
      - ./backend/friend:/app
      - /app/node_modules
    networks:
      - transcendency

  aiserver:
    container_name: ai-server
    build: ./backend/aiServer
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3003
    volumes:
      - ./backend/aiServer:/app
      - /app/node_modules

  static:
    container_name: static
    build: ./backend/static
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3008
    volumes:
      - ./backend/static:/app
      - /app/node_modules
      
  gameclientburak:
    container_name: gameclientburak
    build: ./backend/gameClient
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 4000
    ports:
      - "4000:4000"
    volumes:
      - /app/node_modules
      - ./backend/gameClient:/app
