networks:
  transcendency:
    driver: bridge

volumes:
  frontend_src:
   driver: local
   driver_opts:
     type: none
     device: ./frontend
     o: bind
  gateway_src:
   driver: local
   driver_opts:
     type: none
     device: ./backend/gateway
     o: bind
  authentication_src:
   driver: local
   driver_opts:
     type: none
     device: ./backend/authentication
     o: bind
  email_src:
   driver: local
   driver_opts:
     type: none
     device: ./backend/email
     o: bind
  profile_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/profile
      o: bind
  aiServer_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/aiServer
      o: bind
  gameClient_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/gameClient
      o: bind
  gameServer:
    driver: local
    driver_opts:
      type: none
      device: ./backend/gameServer
      o: bind
  room_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/room
      o: bind
  friend_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/friend
      o: bind
  static_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/static
      o: bind

services:
  frontend:
    container_name: frontend
    build: ./frontend
    restart: on-failure
    volumes:
      - frontend_src:/app
      - /app/node_modules
    networks:
      - transcendency
    expose:
      - 3003
    depends_on:
      - nginx
  nginx:
    container_name: nginx
    build: ./backend/nginx
    restart: on-failure
    volumes:
      - frontend_src:/usr/share/nginx/html
    networks:
      - transcendency
    ports:
      - ${NGINX_PORT:-3030}:3030
    depends_on:
      - gateway

  authentication:
    container_name: authentication
    build: ./backend/authentication
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3001
    volumes:
      - authentication_src:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - profile

  gateway:
    container_name: gateway
    build: ./backend/gateway
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3000
    volumes:
      - gateway_src:/app
      - /app/node_modules
    env_file:
      - .env

  email:
    container_name: email
    build: ./backend/email
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3005
    volumes:
      - email_src:/app
      - /app/node_modules
    env_file:
      - .env

  gameserver:
    container_name: gameserver
    build: ./backend/gameServer
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3002
    volumes:
      - gameServer:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - room
      - aiserver

  room:
    container_name: room
    build: ./backend/room
    restart: on-failure
    expose:
      - 3004
    volumes:
      - room_src:/app
      - /app/node_modules
    networks:
      - transcendency
    env_file:
      - .env
    depends_on:
      - aiserver

  profile:
    container_name: profile
    build: ./backend/profile
    restart: on-failure
    expose:
      - 3006
    volumes:
      - profile_src:/app
      - /app/node_modules
    networks:
      - transcendency
    env_file:
      - .env

  friend:
    container_name: friend
    build: ./backend/friend
    restart: on-failure
    expose:
      - 3007
    volumes:
      - friend_src:/app
      - /app/node_modules
    networks:
      - transcendency
    env_file:
      - .env

  aiserver:
    container_name: ai-server
    build: ./backend/aiServer
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3003
    volumes:
      - aiServer_src:/app
    env_file:
      - .env

  static:
    container_name: static
    build: ./backend/static
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3008
    volumes:
      - static_src:/app
      - /app/node_modules
      - /app/database
    env_file:
      - .env

                                                   