
services:
  node:
    container_name: node_service
    build:
      context: ./backend/server
    ports:
      - "3000:3000"
    volumes:
      - ./backend/server/data:/app/data
    restart: unless-stopped
