services:
  node:
    container_name: node_service
    build:
      context: ./backend/server
    ports:
      - "3000:3000"
    volumes:
      - ./backend/server:/app        # Kodları canlı bağla
      - /app/node_modules            # node_modules containerda kalsın
    restart: unless-stopped
