services:
  node:
    container_name: node_service
    build:
      context: ./backend/server
    ports:
      - "3000:3000"
    volumes:
      - ./backend/server/data:/app/data
      - ./frontend:/app/frontend
      # - ./backend/server:/app        # Bunu yaparsam frontend'i app/frontend'e bağlayamam.
      - /app/node_modules            # node_modules containerda kalsın
    restart: unless-stopped
