volumes:
  gateway_src:
    driver: local
    driver_opts:
      type: none
      device: ./gateway
      o: bind
  database:
    driver: local
    driver_opts:
      type: none
      device: ./databases/data
      o: bind
  authentication_src:
    driver: local
    driver_opts:
      type: none
      device: ./authentication
      o: bind

networks:
  transcendency:
    driver: bridge

services:
  authentication:
    container_name: authentication
    build: ./authentication
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3001
    volumes:
      - authentication_src:/app

  gateway:
    container_name: gateway
    build: ./gateway
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3000
    volumes:
      - gateway_src:/app

  #gameserver:
  #  container_name: gameserver
  #  build: ./gameserver
  #  restart: on-failure
  #  networks:
  #    - transcendency
  #  expose:
  #    - 3000

  # user:
  #   container_name: user
  #   build: ./user
  #   restart: on-failure
  #   networks:
  #     - transcendency

  # livechat:
  #   container_name: livechat
  #   build: ./livechat
  #   restart: on-failure
  #   networks:
  #     - transcendency

  nginx:
    container_name: nginx
    build: ../nginx
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 9000
    ports:
      - "8080:8080"
    depends_on:
      - gateway
