volumes:
  gateway_src:
    driver: local
    driver_opts:
      type: none
      device: /home/yunusemresrcc/ft_transcendence/backend/gateway
      o: bind
  authentication_src:
    driver: local
    driver_opts:
      type: none
      device: /home/yunusemresrcc/ft_transcendence/backend/authentication
      o: bind
  email_src:
    driver: local
    driver_opts:
      type: none
      device: /home/yunusemresrcc/ft_transcendence/backend/email
      o: bind

networks:
  transcendency:
    driver: bridge

services:
  authentication:
    container_name: authentication
    build: ./authentication
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3001
    volumes:
      - authentication_src:/app
      - /app/node_modules

  gateway:
    container_name: gateway
    build: ./gateway
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3000
    ports:
      - "3000:3000"
    volumes:
      - gateway_src:/app
      - /app/node_modules

  email:
    container_name: email
    build: ./email
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3005
    volumes:
      - email_src:/app
      - /app/node_modules
    environment:
      - EMAIL_SERVICE=gmail
      - EMAIL_USER=forty2transcendence@gmail.com
      - EMAIL_PASS=gfyk pfqi gvpm ahtx
      - EMAIL_PORT=3005
      - HOST=0.0.0.0

  nginx:
    container_name: nginx
    build: ../nginx
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 9000
    ports:
      - "8080:8080"
    depends_on:
      - gateway
