secrets:
  nginx_conf:
    file: ../secrets/nginx.txt

volumes:
  nginx_data:
    driver: local
    driver_opts:
      type: none
      device: /home/ysarac/Masaüstü/microservice/nginx_data
      o: bind
  gateway_src:
    driver: local
    driver_opts:
      type: none
      device: /home/ysarac/Masaüstü/microservice/services/gateway/srcs
      o: bind
  database:
    driver: local
    driver_opts:
      type: none
      device: /home/ysarac/Masaüstü/microservice/services/databases/data
      o: bind


networks:
  transcendency:
    driver: bridge


services:
  authentication:
    container_name: authentication
    build: ./authentication
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3001


  gateway:
    container_name: gateway
    build: ./gateway
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 3000
    volumes:
      - gateway_src:/app/srcs
    environment:
      - JWT_SECRET=my-super-secret
      - CORS_ORIGIN=http://localhost:3000

  #gameserver:
  #  container_name: gameserver
  #  build: ./gameserver
  #  restart: on-failure
  #  networks:
  #    - transcendency
  #  expose:
  #    - 3000
  
  databases:
    container_name: databases
    build: ./databases
    restart: on-failure
    volumes:
      - database:/app/data
    networks:
      - transcendency
    expose:
      - 3306

  # user:
  #   container_name: user
  #   build: ./user
  #   restart: on-failure
  #   networks:
  #     - transcendency

  # livechat:
  #   container_name: livechat
  #   build: ./livechat
  #   restart: on-failure
  #   networks:
  #     - transcendency

  nginx:
    container_name: nginx
    build: ./nginx
    restart: on-failure
    networks:
      - transcendency
    expose:
      - 9000
    ports:
      - "8080:8080"
    secrets:
      - nginx_conf
    depends_on:
      - gateway
