<div class="friends-container">
	<nav class="friend-nav">
		<ul>
			<li><button>Friends</button></li>
			<li><button>Requests</button></li>
			<li><button>Invites</button></li>
			<li><button>Blocked</button></li>
		</ul>
	</nav>
	<div class="friend-page-box">
		<div class="friends"></div>
		<div class="requests"></div>
		<div class="invites"></div>
		<div class="blocked"></div>
		<div class="friend online">
			<div class="friend-profile">
				<div class="friend-avatar">
					<img src="https://img.freepik.com/premium-vector/avatar-young-man-minimalist-cartoon-icon-drawing-vector-illustration_608387-13.jpg?w=360" alt="description">
				</div>
				<div class="friend-info">
					<span class="uname">Username</span>
					<span class="level">[═══════----------------------]</span>
				</div>
			</div>
			<div class="friend-actions">
				<select class="friend-action" name="friend-action">
					<option selected disabled></option>
					<option value="play">Play</option>
					<option value="message">Message</option>
					<option value="unfriend">Unfriend</option>
				</select>
				<!-- <div class="friend-menu">
					<button class="menu-btn">⋮</button>
					<div class="menu-options">
						<button class="option">Play</button>
						<button class="option">Message</button>
						<button class="option">Unfriend</button>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>




