<div class="friends-container">
	<nav class="friend-nav">
		<ul>
			<li><button id="friends" class="pg-switch pg-actv" data-i18n="friends">Friends</button></li>
			<li><button id="requests" class="pg-switch" data-i18n="requests">Requests</button></li>
			<li><button id="invites" class="pg-switch" data-i18n="invites">Invites</button></li>
			<li><button id="blocked" class="pg-switch" data-i18n="blocked">Blocked</button></li>
		</ul>
		<select>
			<option value="friends" data-i18n="friends">Friends</option>
			<option value="requests" data-i18n="requests">Requests</option>
			<option value="invites" data-i18n="invites">Invites</option>
			<option value="blocked" data-i18n="blocked">Blocked</option>
		</select>
	</nav>
	<div class="friend-page-box">
		<div class="subpage friends user-grid pg-actv">
			<div class="friend">
				<div class="user-profile">
					<div class="user-avatar">
						<img src="https://img.freepik.com/premium-vector/avatar-young-man-minimalist-cartoon-icon-drawing-vector-illustration_608387-13.jpg?w=360" alt="description">
					</div>
					<div class="user-info">
						<span class="uname">Username</span>
					</div>
				</div>
				<div class="user-actions">
					<div class="user-menu">
						<button class="menu-btn">⋮</button>
						<div class="menu-options">
							<button class="option">Play</button>
							<button class="option">Message</button>
							<button class="option">Unfriend</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="subpage requests" inert="">
			<div class="search-bar">
				<form action="">
					<input type="text" placeholder="Search">
					<button type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"/></svg>
					</button>
				</form>
			</div>
			<div class="user-grid"></div>
		</div>
		<div class="subpage invites user-grid" inert=""></div>
		<div class="subpage blocked user-grid" inert=""></div>
		</div>
	</div>
</div>
