<div class="play-container">
	<div id="game-settings">
		<h2>PONG CONFIG</h2>
		<div class="element-settings">
			<h3>PADDLE SETTINGS</h3>
			<label>
				<span>Paddle Height:</span>
				<input type="number" name="paddle-height" id="#paddle-height" min="5" max="50">
			</label>
			<label>
				<span>Paddle Width:</span>
				<input type="number" name="paddle-width" id="#paddle-width">
			</label>
			<label>
				<span>Paddle Speed:</span>
				<input type="number" name="paddle-speed" id="#paddle-speed">
			</label>
		</div>
		<div class="element-settings">
			<h3>BALL SETTINGS</h3>
			<label>
				<span>Ball Radius:</span>
				<input type="number" name="ball-radius" id="#ball-radius">
			</label>
			<label>
				<span>Ball Speed:</span>
				<input type="number" name="ball-speed" id="#ball-speed">
			</label>
			<label>
				<span>Ball Speed Increase:</span>
				<input type="number" name="ball-spaad-increase" id="#ball-spaad-increase">
			</label>
		</div>
		<div class="element-settings">
			<h3>MATCH SETTINGS</h3>
			<label>
				<span>Max Score:</span>
				<input type="number" name="max-score" id="#max-score">
			</label>
		</div>
	</div>
</div>
