<div class="settings-container">
	<form id="settings-form">
		<h2>Settings</h2>
		<div class="settings-box">
			<div class="setting-section s1">
				<summary> <h3>Account</h3> </summary>
				<div class="settings-content account">
					<div class="avatar">
						<img src="https://img.freepik.com/premium-vector/avatar-young-man-minimalist-cartoon-icon-drawing-vector-illustration_608387-13.jpg?w=360" alt="description">
					</div>
					<div class="info">
						<label>
							<span>User Name</span>
							<input type="text" name="uname" value="uname">
						</label>
						<label>
							<span>Email</span>
							<input type="email" name="email" value="krktbtl@gmail.com">
						</label>
						<label>
							<span>Password</span>
							<input type="password" name="pass" value="pass">
						</label>
					</div>
				</div>
			</div>
			<div class="setting-section s2">
				<summary><h3>Language</h3></summary>
				<div class="settings-content">
					<ul>
						<li>Deutsch</li>
						<li>English</li>
						<li class="current">Türkçe</li>
					</ul>
				</div>
			</div>
			<div class="setting-section s3">
				<summary><h3 class="delete">Danger Zone</h3></summary>
				<div class="settings-content">
					<label>
						Delete Account:
						<button>Delete</button>
					</label>
				</div>
			</div>
		</div>
	</form>
</div>
