* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-height: 100dvh;
	font-family: 'Courier New', Courier, monospace;
	background-color: #0c1218;
	color: #ffffff; /* Text Color! */
	display: grid;
	grid-template-columns: auto 1fr;
}

body.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

body.login-page #sidebar {
	display: none;
}

.login-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 500px;

	background: transparent;
	border: 5px solid #333;
	border-radius: 20px;
	transition: .5s;

	h2 {
		font-size: 2em;
		text-align: center;
		color: #fff;
		transition: .5s;
	}

	.form-group {
		position: relative;
		width: 320px;
		margin: 30px 0px;
	}

	input {
		width: 100%;
		height: 50px;
		background: transparent;
		border: 2px solid #333;
		outline: none;
		border-radius: 8px;

		font-size: 1em;
		color: #fff;
		padding: 0 10px 0 15px;
		transition: .5s;
	}

	input::placeholder {
		color: #333;
	}

	button {
		position: relative;
		width: 100%;
		height: 45px;
		background: #333;
		border: none;
		outline: none;
		border-radius: 8px;
		cursor: pointer;
		font-size: 1em;
		color: #fff;
		font-weight: 500;
		transition: .5s;
	}
}

.login-wrapper:hover {
	border: 5px solid oklch(70.4% 0.191 22.216);
	box-shadow: 0 0 20px oklch(70.4% 0.191 22.216), inset 0 0 20px oklch(70.4% 0.191 22.216);

	h2 {
		color: oklch(70.4% 0.191 22.216);
	}

	input {
		border: 2px solid oklch(70.4% 0.191 22.216);
		box-shadow: 0 0 10px oklch(70.4% 0.191 22.216), inset 0 0 10px oklch(70.4% 0.191 22.216);
	}

	button {
		background: oklch(70.4% 0.191 22.216);
		color: #000;
		box-shadow: 0 0 20px oklch(70.4% 0.191 22.216);
	}
}

#sidebar {
	box-sizing: border-box;
	height: 100vh;
	width: 250px;
	padding: 5px;
	background: #2c3e50;
	border-right: 1px solid #ffffff;

	position: sticky;
	top: 0;
	align-self: start;
	transition: 300ms ease-in-out;
	overflow: hidden;
	text-wrap: nowrap;
}

#sidebar.collapsed {
	padding: 5px;
	width: 50px;
}

#sidebar ul {
	list-style: none; /* prevents bullet points */
}

#sidebar ul li:first-child {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 16px;
	#logo{
		font-weight: 600;
	}
}

#sidebar ul li.active a {
	color: #87c3ff;
	svg{
		fill: #87c3ff;
	}
}

#sidebar a, #sidebar #logo {
	border-radius: .5em;
	/* border: 1px solid #ffffff; */
	padding: .85em;
	display: flex;
	text-decoration: none; /* dunno what this does */
	align-items: center;
	gap: 1em;
}

#sidebar svg {
	flex-shrink: 0;
	fill: #ffffff;
}

#sidebar a:hover {
	background-color: #445d75;
}

#menu-toggle {
	margin-left: auto;
	padding: 1em;
	border: none;
	border-radius: .5em;
	background: none;
	cursor: pointer;

	svg{
		transition: 150ms ease;
	}
}

#menu-toggle:hover {
	background-color: #445d75;
}

.rotate svg:last-child{
	rotate: 180deg;
}

#content {
	padding: 5px;
}

/* Feyza'dan özlü sözler: jhbuvıytvıycutdxguybdyrvsxhtf */