.friends-container {
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
	color: #eee;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.friend-nav {
	width: 80%;
	margin: 2rem;
	border-radius: 5px;
	border: 2px solid #0ff;
	border-bottom: none;
	background: #111;
}

.friend-nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.friend-nav li {
	list-style-type: none;
}

.friend-nav button {
	background: none;
	border: none;
	outline: none;

	height: auto;
	font-family: "PixeloidSansBold";
	color: #eee;
	padding: 1.5em;

	position: relative;
}

.friend-nav button:hover::after,
.friend-nav button:focus::after,
.friend-nav button.pg-actv::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(45deg, #f0f, #0ff);
}

.friend-page-box {
	position: relative;
	width: 80%;
	margin-top: 1rem;

	display: flex;
	justify-content: center;
}

.subpage {
	position: absolute;
	width: 100%;

	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;
}

.subpage.pg-actv {
	opacity: 1;
	pointer-events: all;
}

.user-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: .5em;
}

.requests {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 2em;
}

.search-bar form {
	display: flex;
	align-items: center;
	gap: .5em;
}

.search-bar input {
	background: #111;

	height: 2rem;
	width: 250px;
	border: 2px solid #333;
	border-radius: 3px;

	color: #c0c;
	padding-left: .4em;
}

.search-bar input::placeholder {
	padding-left: .4em;
}

.search-bar button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;

	border: 2px solid #333;
	background: #000;
}

.search-bar svg {
	fill: #c0c;
	background: none;
	padding: .4em;
}

.subpage .friend {
	min-width: 400px;
	background: #111;
	border-radius: 10px;
	border: 2px solid #333;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em;
}

.user-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.user-avatar {
	aspect-ratio: 1/1;
	width: 3.5rem;
	border-radius: 50%;

	background: #000;
	border: 2px solid #333;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-shrink: 0;
}

.user.online .user-avatar {
	border-color: #0f0;
	box-shadow: 0 0 5px #0c0;
}

.friend-page-box img {
	aspect-ratio: 1/1;
	width: 3rem;
	border-radius: 50%;
	object-fit: cover;
}

.user-info {
	display: flex;
	flex-direction: column;
}

.user-info .uname {
	font-family: "PixeloidSans";
	text-shadow: 0 0 15px #0ff;
}

.user-actions {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.user-menu {
	position: relative;
	display: inline-block;
}

.menu-btn {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 0.25rem 0.75rem;
	color: #0df;
	text-shadow: 0 0 5px #0df;
}

.menu-options {
	display: none;
	position: absolute;
	background: #111;
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);

	border-radius: 4px;
	border: 1px solid #333;

	overflow: hidden;
	z-index: 200;
}

.user-menu:hover .menu-options, .user-menu:focus .menu-options {
	display: block;
}

.option {
	display: block;
	width: 100%;
	text-align: left;
	padding: 0.5rem 1rem;
	border: none;
	background: #111;
	color: #eee;
	font-family: "PixeloidSans";
}

.option:hover {
	background: #181818;
}

