@import url("profile_style/color.css");
@import url("profile_style/page.css");
@import url("profile_style/header.css");

@import url("profile_style/dashboard.css");
@import url("profile_style/tournaments.css");
@import url("profile_style/history.css");
@import url("profile_style/achievement.css");
@import url("profile_style/responsive.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--color-dark);
    color: var(--color-text);
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
