@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

.settings-container {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: min(1.2rem, 0.7rem + 1vw);
}

#settings-box {
	width: max(260px, 75% + 5rem);
	flex-shrink: 0;

	background: #111;
	border-radius: 15px;
	border: 2px solid #0cc;

	padding: 2em;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;

	font-family: "PixeloidSans";
	color: #fff;
}

.settings-container .settings-box {
	width: max(14rem, 82% + 5rem);
	display: flex;
	flex-wrap: wrap;
	gap: max(1em, 2% + .5em);
}

.settings-container .s1 {
	flex: 2;
}

.settings-container .s3 {
	flex: 0 0 100%;
}

.settings-container h2 {
	display: flex;
	justify-content: center;

	font-family: "RocketClouds";
	text-shadow: 0 0 10px #fff;
}

.settings-container h3 {
	width: 100%;
	color: #0ff;

	font-family: "Orbitron", monospace;
	font-size: min(1.6rem, .9rem + 2vw);
	text-shadow: 0 0 10px #0cc;
	padding-bottom: .2em;
}

.settings-container h3.delete {
	color: #f20;
	text-shadow: 0 0 10px #c20;
}

.settings-container form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: .3em;
}

.settings-container .submit {
	border-radius: 5px;
	border: 2px solid #333;
	background: #000;

	padding: .4em .4em;
	font-size: .8em;
	color: #ccc;
}

.settings-content .delete-part .part-title svg {
	fill: #e20;
}

.settings-container #delete-account {
	max-width: 150px;
	position: relative;
	font-size: .9em;
	padding: .3em;
	border-radius: 3px;
	border: 1px solid #555;
	background: #111;
	color: #c20;

	transition: all .1s ease-in-out;
}

.settings-container #delete-account:hover, .settings-container #delete-account:focus {
	box-shadow: 0 0 10px #c20;
	border-color: #910;
	background-color: #c20;
	color: #111;
}

.settings-content {
	background: #222;
	border-radius: 10px;
	border: 1px solid #666;

	color: #ccc;

	display: flex;
	flex-direction: column;
}

.settings-content > *:not(:first-child) {
	border-top: 1px solid #666;
}

.settings-content > * {
	padding: .9em;

	display: flex;
	flex-direction: column;
	gap: .8em;
}

.settings-content .part-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.settings-content .part-header button {
	border: 1px solid #0666;
	border-radius: 5px;
	background: #1443;
}

.settings-content .part-title {
	display: flex;
	align-items: center;
	gap: .8em;
}

.settings-content .part-title svg {
	width: 1.4rem;
	aspect-ratio: 1/1;
	fill: #0bb;
	vertical-align: middle;
}

.settings-content button svg {
	width: 1.2rem;
	aspect-ratio: 1/1;
	fill: #3cc9;
	vertical-align: middle;
}

.part-expand svg {
	transition: rotate .3s ease;
}

.part-expand.rotated svg {
	rotate: 180deg;
}

.settings-container span {
	padding: .1em;
}

.s3 label {
	padding: .1em;
}

.settings-container input {
	border-radius: 4px;
	padding: .2em .4em;
	margin: 0 .5em;

	background: #111;
	border: 2px solid #444;
	font-size: .8em;
	color: #fff;
}

.settings-container input[disabled] {
    background-color: #1c1c1c;
	box-shadow: none;
    color: #aaa;
}

.settings-container input[disabled]:focus,
.settings-container input[disabled]:hover {
	box-shadow: none;
	border: 2px solid #444;
}

.settings-container input:focus, .settings-container input:hover {
	border-color: #c0c;
	box-shadow: 0 0 10px #c0c, inset 0 0 5px #c0c;
}

.settings-container .avatar {
	position: relative;
	aspect-ratio: 1/1;
	border-radius: 50%;

	background: #000;
	border: 2px solid #333;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-shrink: 0;
}

.settings-container .avatar:hover::before {
	position: absolute;
	content: "";

	aspect-ratio: 1/1;
	width: clamp(3rem, calc(2rem + 5vw), 5rem);

	border: 2px solid #444;
	border-radius: 50%;
	background-color: #333;
}

.settings-container .avatar:hover::after {
	position: absolute;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='%23ccc' width='10' height='10' d='M213.1 128.8L202.7 160L128 160C92.7 160 64 188.7 64 224L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 224C576 188.7 547.3 160 512 160L437.3 160L426.9 128.8C420.4 109.2 402.1 96 381.4 96L258.6 96C237.9 96 219.6 109.2 213.1 128.8zM320 256C373 256 416 299 416 352C416 405 373 448 320 448C267 448 224 405 224 352C224 299 267 256 320 256z'/%3E%3C/svg%3E");
	aspect-ratio: 1/1;
	width: clamp(2rem, calc(.6rem + 8vw), 3rem);
	border-radius: 50%;
}

.settings-container img {
	aspect-ratio: 1/1;
	width: clamp(3rem, calc(2rem + 5vw), 5rem);
	border-radius: 50%;
	object-fit: cover;
}

.profile-part {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .5em;
}

.settings-uname {
	color: #0ff;
	text-shadow: 0 0 10px #0cc;
	font-family: "Orbitron", monospace;
}

.overlay {
	position: fixed;
	top: 0;
	left: 60px;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10px) saturate(150%);
	background: #0007;
}

.overlay.hide-away {
	display: none;
}

@media (max-width: 1080px) {
	.overlay {
		left: 50px;
	}
}

.card {
	position: relative;
	width: clamp(270px, calc(70% + 80px), 400px);
	height: 300px;
	border: 2px solid #0cce;
	border-radius: 10px;
		padding: clamp(2px, calc(3% + 1px),20px);
	overflow-y: auto;
	background: rgb(10, 10, 10);
}

#card-exit {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	outline: none;
}

#card-exit svg {
	width: 25px;
	aspect-ratio: 1/1;
	fill: #ddd;
	transition: all 0.3s ease;
}

#card-exit:hover svg, #card-exit:focus svg {
	rotate: 90deg;
	filter: drop-shadow(0 0 10px rgb(193, 1, 1)); /* üzerine gelince kırmızı gölge */
	fill: #e30;
}

.validation-form {
	height: 100%;
}

.validation-label {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: clamp(.5rem, calc(10% + 1vw), 1.5rem);
	color: #ccc;
}

.validation-label span {
	font-size: clamp(1rem, calc(.8rem + 2vw), 1.8rem);
	font-family: "Orbitron", monospace;
}

.validation-label input {
	font-size: clamp(.6rem, calc(.5rem + 2vw), 1.2rem);
	background: none;
	color: #ccc;
	padding: .2em .5em;

	border-radius: 5px;
	border: 1px solid #444;
	background: rgb(10,10,10, 0.9);
}

.validation-label .enter-code{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;

	width: 90%;
	background: #111;
	padding: 2em 1em 1.5em 1em;
	margin-top: 1.6em;
	border-radius: 5px;
	border: 1px solid #333;
}

.validation-label button {
	width: 90%;
	padding: .4em 1em;
	font-size: clamp(.8rem, calc(.6rem + 2vw), 1.2rem);

	border-radius: 5px;
	border: 2px solid #0666;
	background: #1443;
	color: #3cc9;

	transition: all .2s ease-in-out;
}

.validation-label button:hover, .validation-label button:focus {
	box-shadow: 0 0 10px #0cc, inset 0 0 5px #0cc;
	border-color: #0cc;
	background: #0999;
	color: #111;
}
