.settings-container {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: min(1.4rem, 0.7rem + 1vw);
}

#settings-form {
	width: max(18rem, 75% + 5rem);

	background: #111;
	border-radius: 15px;
	border: 2px solid #666;

	padding: 2em;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;

	font-family: "PixeloidSans";
	color: #fff;
}

.settings-container .settings-box {
	width: max(16rem, 82% + 6rem);
	display: flex;
	flex-wrap: wrap;
	gap: max(1em, 2% + .5em);
}

.settings-container .s1 {
	flex: 2;
}

.settings-container .s2 {
	flex: 1;
}
.settings-container .s3 {
	flex: 0 0 100%;
}

.settings-container h2 {
	display: flex;
	justify-content: center;

	font-family: "RocketClouds";
	font-size: xx-large;
	text-shadow: 0 0 5px #fff;
}

.settings-container h3 {
	width: 100%;
	color: #0ff;

	border-bottom: 1px solid #fff;
	padding: .2em;
	margin-bottom: .5em;
}

.settings-container h3.delete {
	color: #f20
}

.settings-container button {
	max-width: 150px;
	position: relative;
	font-size: .9em;
	padding: .3em;
	border-radius: 3px;
	border: 1px solid #555;
	background: #1c1c1c;
	color: #c20;
}

.settings-container button:hover, .settings-container button:hover {
	box-shadow: 0 0 5px #fff, inset 0 0 5px #999;
	border-color: #999;
	color: #c00;
}

.settings-container .setting-section {
	background: #222;
	border-radius: 10px;
	border: 1px solid #666;

	padding: 1.5em;
	color: #ccc;
}

.settings-container .settings-content {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.settings-container ul{
	display: flex;
	flex-direction: column;
	gap: .4em;
}

.settings-container li {
	list-style-type: none;
	color: #999;
	padding: 0 .2em;
}

.settings-container li.current {
	list-style-type: none;
	background-image: linear-gradient(45deg, #505, #055);
	color: #ccc;
	padding: 0 .2em;
}

.settings-container li.current::before {
	content: "";
	padding: 0 .2em;
	color: #0ff;
}

.settings-container label {
	display: flex;
	flex-direction: column;
	color: #eee;
}

.settings-container span {
	padding: .1em;
}

.settings-container input {
	max-width: 400px;
	border-radius: 3px;
	padding: .3em .5em;
	background: none;
	border: 2px solid #909;
	box-shadow: inset 0 0 5px #909;
	font-size: .9em;
	color: #fff;
}


.settings-container input:focus, .settings-container input:hover {
	border-color: #c0c;
	box-shadow: 0 0 10px #c0c, inset 0 0 5px #c0c;
}
